<div class="text-lg max-w-1200 pt-2 px-6">
    <h1 class="text-lg sm:text-4xl">{{title}}</h1>
    {{ partial:breadcrumbs }}
    <div class="space-y-4 pb-4 min-h-96">
        {{ collection:importantinfo }}
        <div>
            <p class="" font-bold>{{title}}</p>
            <a
                class="flex items-center space-x-2 hover:underline text-sm"
                href="{{resource}}"
                target="_blank"
                ><span>{{resource:title}}</span>
                <svg
                    class="w-4 fill-current"
                    focusable="false"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    data-testid="OpenInNewRoundedIcon"
                >
                    <path
                        d="M18 19H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h5c.55 0 1-.45 1-1s-.45-1-1-1H5c-1.11 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6c0-.55-.45-1-1-1s-1 .45-1 1v5c0 .55-.45 1-1 1zM14 4c0 .55.45 1 1 1h2.59l-9.13 9.13c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L19 6.41V9c0 .55.45 1 1 1s1-.45 1-1V4c0-.55-.45-1-1-1h-5c-.55 0-1 .45-1 1z"
                    ></path>
                </svg>
            </a>
        </div>
        {{ /collection:importantinfo }}
    </div>
</div>
