<div class="bard">
{{ bard }}
    {{ if type == "text" }}

    <div class="my-3">
        {{ text }}
    </div>

    {{ elseif type == "text_columns" }}

    <div class="my-3 columns-{{number_of_columns}}">
        {{ text }}
    </div>

    {{ elseif type == "gallery" }}

    <div class="">
        {{ partial:gallery :gallery_images="photos"]}}
    </div>

    {{ elseif type == "image" }}

    <figure>
    <img src="{{ image }}" alt="{{ caption }}" />
    <figcaption>{{ caption }}</figcaption>
    </figure>

    {{ elseif type == "call_to_action" }}

    <div class="md:flex border md:space-x-6 py-3 px-6 items-center rounded my-12">
        <div class="mt-3 flex-grow">
            {{text}}
        </div>
        <div>
        <a href="{{link}}" class="w-full mb-3 md:mb-0 md:w-64 block text-sm text-white rounded p-4 text-center font-bold" style="background-color: {{button_color}};">{{button_text}}</a>
        </div>

    </div>

    {{ elseif type == "buttons" }}

    <div class="my-8 flex {{ alignment }}">
        {{ buttons }}
            <a
                {{ if open_in_new_tab }}
                    target="_blank"
                {{ /if }} 
                href="{{ link }}" 
                class="shadow hover:shadow-lg bg-primary-light hover:bg-primary duration-300 rounded py-2 px-3 text-white {{ button_classes }}"
            >
                    {{ button_text }}
            </a>
        {{ /buttons }}
    </div>

    {{ elseif type == "embed_html" }}

        {{ html }}
    
    {{ elseif type == "table" }}
    
        {{ partial:table }}

    {{ /if }}


{{ /bard }}
</div>