<div class="mb-3">
    <ul class="hidden sm:flex space-x-3 text-sm items-center">
        <li><a href="{{ link to='home'}}">{{ trans:lang.home }}</a></li>
        {{ nav:breadcrumbs }}
            <li>
                <span class="text-gray-500 text-xs mr-2">/ </span>
                <a {{ if is_current }} class="text-gray-600"{{ /if }} href="{{ url }}">{{ title }}</a>
            </li>
        {{ /nav:breadcrumbs }}
    </ul>
</div> 