<div class="rounded-xl shadow-lg flex-1">
    <a href="{{url}}">
        {{ responsive:image class="w-full rounded-t-xl object-cover
        object-center h-72" height='300' width='600' webp="false" }}
    </a>
    <div class="p-6">
        <a href="{{url}}" class="block text-2xl font-bold mb-2 hover:underline"
            >{{title}}</a
        >
        {{slot}}
    </div>
</div>
