<div class="bg-gray-100 rounded-b-lg">
    <nav
        class="container px-6 py-10 md:flex space-y-6 md:space-y-0 md:space-x-8 justify-between"
    >
        <div class="space-y-1">
            <p class="text-sm font-bold mb-2 uppercase ">
                {{ trans:lang.location }}
            </p>
            <p class="text-sm pb-2">{{ company:address | nl2br }}</p>
            <p class="text-sm pb-2">
                <a href="mailto:{{ company:email | obfuscate }}"
                    >{{ company:email | obfuscate }}</a
                >
            </p>
            <p class="text-sm">
                Tel.
                <a href="tel:{{ company:phone_1 }}">{{ company:phone_1 }}</a>
            </p>
            <p class="text-sm">
                Tel.
                <a href="tel:{{ company:phone_2 }}">{{ company:phone_2 }}</a>
            </p>
        </div>
        <div>
            <p class="text-sm font-bold mb-2 uppercase">VILLAS IN VALLARTA</p>
            {{ footer:villas_in_vallarta_links }}
            <p><a href="{{ link }}" class="text-sm">{{ link_text }}</a></p>
            {{ /footer:villas_in_vallarta_links }}
        </div>
        <div>
            <p class="text-sm font-bold mb-2 uppercase">
                {{ trans:lang.more_info }}
            </p>
            {{ footer:more_info_links }}
            <p><a href="{{ link }}" class="text-sm">{{ link_text }}</a></p>
            {{ /footer:more_info_links }}
        </div>
        <div>
            <div class="flex justify-center pb-3">
                <a
                    href="{{ link to='/contact-us'}}"
                    style="width: 146px"
                    class="block text-center bg-primary-light text-white rounded shadow px-3 py-2"
                    >{{ trans:lang.contact_us }}</a
                >
            </div>

            <!-- Trip Advisor -->
            <div
                id="TA_certificateOfExcellence864"
                class="TA_certificateOfExcellence"
            >
                <ul id="dpLxdcUU0E" class="TA_links iweOfM">
                    <li id="HrHOCk8FC" class="F04RtFXYM">
                        <a
                            href="https://www.tripadvisor.com/Hotel_Review-g150793-d253963-Reviews-Casa_Tres_Vidas-Puerto_Vallarta.html"
                            target="_blank"
                            rel="noopener"
                            ><img
                                id="CDSWIDCOELOGO"
                                class="widCOEImg"
                                src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2017_WidgetAsset-14348-2.png"
                                alt="TripAdvisor"
                        /></a>
                    </li>
                </ul>
            </div>
            <script
                async
                src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&uniq=864&locationId=253963&lang=en_US&year=2017&display_version=2"
            ></script>
        </div>
    </nav>

    <div class="text-sm text-center container pb-8">
        &copy; {{ now format="Y" }} {{ company:site_name }}
    </div>
</div>
