<div x-data="gallery()" x-init="init()">
    <div class="gallery reg-gallery flex-grow relative mx-auto ">
        <!-- Images -->
        {{ gallery_images }}
        <div
            class="gallery__item sm:rounded-lg overflow-hidden {{ if index != 0 }}gallery__item--hidden{{ /if }}"
        >
            {{ responsive:url width='944' height='500' class="gallery__image
            rounded-lg object-cover object-center" webp="false" }}
        </div>
        {{ /gallery_images }}

        <!-- Prev Button -->
        <a
            class="gallery__nav gallery__nav--right text-white rounded-full w-10 h-10 flex items-center justify-center cursor-pointer"
            x-on:click="next()"
        >
            <svg
                class="fill-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 512"
            >
                <path
                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                ></path>
            </svg>
        </a>

        <!-- Next Button -->
        <a
            class="gallery__nav gallery__nav--left text-white rounded-full w-10 h-10 flex items-center justify-center cursor-pointer"
            x-on:click="previous()"
        >
            <svg
                class="fill-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 512"
            >
                <path
                    d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"
                ></path>
            </svg>
        </a>
    </div>

    <!-- Thumbnails -->
    <div
        class="hidden sm:grid pt-3 gap-4 grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xxl:grid-cols-8"
    >
        {{ gallery_images }}
        <a x-on:click="goTo({{ index }})">
            <img
                src="{{ glide src='{ url }' width='140' height='90' }}"
                :class="{ 'border-teal-600': active === {{ index }} }"
                class="border-2 object-cover object-center rounded-lg cursor-pointer hover:border-teal-600  hover:shadow duration-300"
            />
        </a>
        {{ /gallery_images }}
    </div>
</div>
