<div class="flex-1 block sm:flex lg:block text-center sm:text-left lg:text-center sm:space-x-6 lg:space-x-0 mb-8 lg:mb-0">
    <img class="rounded-lg shadow w-72 mx-auto" src="{{ glide src='{image}' height='350' width='500' }}"/>
    <div class="flex-grow">
        <p class="text-xl my-3 text-black font-bold">{{heading}}</p>
        <p class="text-sm text-gray-800">{{sub_heading}}</p>
    </div>
</div>