<div x-data="{ open: false }">
    <div
        class="top-0 fixed bg-primary md:hidden w-full h-16 flex justify-between z-50 items-center px-1"
    >
        <a class="w-48 p-3" href="{{ link to='/' }}">
            {{ svg src="horizontal-logo" }}
        </a>
        <button @click="open = !open" class="text-white p-3 stroke-current">
            {{ svg src="menu" }}
        </button>
    </div>

    <div
        :class="{'nav-open': open}"
        class="soft-hide md:block bg-primary w-full md:w-auto md:min-w-72 min-h-screen z-50"
    >
        <div
            class="fixed w-full md:w-72 bg-primary z-50    h-screen overflow-auto pb-24 md:pb-0"
        >
            <div class="hidden md:block px-8 pt-8 mb-4">
                <a href="{{ link to='/' }}">
                    {{ svg src="vertical-logo" }}
                </a>
            </div>
            <ul class="">
                {{ nav:main_nav }}
                <li class="nav-group">
                    <a
                        class="main-nav pl-4 md:pl-0 md:text-center{{ if is_current || is_parent }} active-nav{{ /if }}"
                        href="{{ url }}"
                    >
                        {{ title }} {{ if children }}
                        <span
                            class="hidden md:inline nav-arrow chevron bottom"
                        ></span>
                        {{ /if }}
                    </a>

                    {{ if children }}
                    <ul class="nav-children md:shadow ">
                        {{ children }}
                        <li class="">
                            <a
                                class="text-xs md:text-base text-white overflow-hidden whitespace-no-wrap hover:bg-gray-900 block py-4 px-6"
                                href="{{ url }}"
                                >{{ title }}</a
                            >
                        </li>
                        {{ /children }}
                    </ul>
                    {{ /if }}
                </li>
                {{ /nav:main_nav }}
            </ul>
            <div class="md:fixed w-full md:w-72 bottom-0 px-2 mb-2">
                <div class="text-center pb-2">
                    <p class="text-sm pb-2 text-white">
                        <a
                            class="text-white hover:text-gold underline"
                            href="mailto:{{ company:email | obfuscate }}"
                            >{{ company:email | obfuscate }}</a
                        >
                    </p>
                    <p class="text-sm text-white">
                        <a
                            class="text-white hover:text-gold underline"
                            href="tel:{{ company:phone_1 }}"
                            >{{ company:phone_1 }}</a
                        >
                    </p>
                </div>

                <ul class="flex w-full justify-center divide-x">
                    {{ if current_uri=='/' }} {{ collection:pages id:is="home"
                    }} {{ locales current_first="false" }}
                    <li>
                        <a
                            class="font-open text-center  text-white block px-3 hover:text-gold"
                            href="{{ url }}"
                            >{{ locale:name }}</a
                        >
                    </li>
                    {{ /locales }} {{ /collection:pages }} {{ else }} {{ locales
                    current_first="false" }}
                    <li>
                        <a
                            class="font-open text-center  text-white block px-3 hover:text-gold"
                            href="{{ url }}"
                            >{{ locale:name }}</a
                        >
                    </li>
                    {{ /locales }} {{ /if }}
                </ul>
            </div>
        </div>
    </div>
</div>
