<div class="border rounded shadow mb-6">
    <table class="bard-table w-full table-auto rounded overflow-hidden">
        {{ table }}
            {{ if first }}
                <thead class="rounded overflow-hidden">
                    <tr class="bg-primary-light text-white align-middle text-left">
                        {{ cells }}
                        <th class="p-2 text-sm font-normal">{{ value|markdown }}</th>
                        {{ /cells }}
                    </tr>
                </thead>
                <tbody>
            {{ /if }}

            {{ if !first }}
                <tr>
                    {{ cells }}
                    <td class="p-2 border-b">{{ value|markdown }}</td>
                    {{ /cells }}
                </tr>
            {{ /if }}

        {{ /table }}
        </tbody>
    </table>
</div>