{{ collection:pages id:is="home" }}
<article class="bg-gray-100 pb-6 md:rounded-t-lg overflow-x-hidden" > 
    <div class="home-slider gallery" x-data="gallery()" x-init="init(undefined, true)">

        {{slider}}
        <div class="home-slider gallery__item {{ if index != 0 }}gallery__item--hidden{{ /if }}">

            <div class="w-full md:rounded-t-lg bg-black">
                <img class="w-full md:rounded-t-lg object-cover object-center home-slider" src="{{image}}">
            </div>
            <div class="text-white text-center flex items-center justify-center home-nav home-slider-text-overlay">
                <div>
                    <h1 class="text-3xl md:text-5xl text-shadow ">{{title}}</h1>
                    <p class="text-xl md:text-3xl mb-4 text-shadow whitespace-pre">{{subtitle}}</p>
                </div>
            </div>
        </div>
        {{/slider}}
            
        <!-- GALLERY DOT INDICATOR -->
        <div class="gallery-dot-container absolute z-50 h-8 w-full flex space-x-3 p-2">
            {{ slider }}
                <button 
                    class="cursor-pointer block w-4 h-4 bg-gray-300 rounded-full border-white border-2 hover:bg-pink-600"
                    :class="{ 'border-pink-600': active === {{ index }} }"  
                    x-on:click="goTo({{ index }})"></button>
            {{ /slider }}
        </div>
    </div>
    
    <div class="flex justify-center space-x-4">
            <a  
                target="_blank" 
                href="{{webrezpro_settings:availability_calendar_url}}" 
                class="text-center rounded-lg shadow block hover:shadow-xl text-white lg:inline-block bg-teal-500 hover:bg-teal-700 duration-300 px-6 py-3"
            >
                VIEW AVAILABILITY
            </a>
            <a  
                target="_blank" 
                href="{{webrezpro_settings:booking_request_form}}" 
                class="text-center rounded-lg shadow block hover:shadow-xl text-white lg:inline-block bg-teal-500 hover:bg-teal-700 duration-300 px-6 py-3"
            >
                BOOK NOW
            </a>
    </div>

    <div class="bg-gray-100 pb-2">
        <p class="text-center text-2xl tracking-tight pt-12 font-bold">{{ featured_content_title }}</p>
        <div class="lg:flex justify-evenly my-12 container mx-auto px-8 lg:space-x-6">
            {{ features }}
                {{ partial:home_feature title="Finest Quality Villas" subtitle="Hand-Selected and Inspected</br>Professionally Managed" }}
            {{ /features }}
        </div>
        <div>

            <div class="px-8">
                <div class="md:flex justify-center md:space-x-6 py-3 px-6 items-center rounded my-12">
                    <div class="mt-3 text-center md:text-left pb-2">
                        <p>Check out our limited time special offers!</p>
                        <p class="mt-3">
                            <a href="{{ link to='special-offers' }}" class="w-full mx-auto mb-3 md:mb-0 md:w-64 block text-sm text-white rounded p-4 text-center font-bold bg-teal-400">Special Offers</a>
                        </p>
                    </div>
      
                </div>
            </div>

        </div>
    </div>
    
    <div class="bg-white text-lg  py-8 px-6">
        <div class="container mx-auto">

            {{ partial:bard }}
        </div>
    </div>
    

    <div class="md:flex md:space-x-6 space-y-6 md:space-y-0 my-4 mx-auto container px-6 pt-3">
        {{ properties }}
            {{ partial:card 
                title="{property_title}"
                url="{property_link}" 
                image="{property_image}" }}
                {{property_description}}
            {{ /partial:card}}
        {{ /properties }}

    </div>

</article>
{{ /collection:pages }}
