<!DOCTYPE html>
<html lang="{{ site:site_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{ seo_pro:meta }}
        <!-- prettier-ignore -->
        <style>{{ inline_assets:css src='/css/tailwind.css' }}</style>
        <script defer src="{{ mix src='/js/site.js' }}"></script>

        {{ captcha:head }}

        <!-- Global site tag (gtag.js) - Google Ads: 1069351453 -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=AW-1069351453"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "AW-1069351453");
        </script>
        <script>
            gtag("config", "AW-1069351453/VtuaCJuZjl4QnYT0_QM", {
                phone_conversion_number: "(888) 640-8100"
            });
        </script>
    </head>
    <body>
        <div
            class="pt-16 md:pt-0 md:flex bg-primary font-sans leading-normal text-grey-800"
        >
            {{ partial:nav }}
            <div class="flex-grow md:my-4 md:mr-4 bg-white rounded-lg shadow">
                {{ partial:header_image }} {{ template_content }} {{
                partial:footer}}
            </div>
        </div>
        <script>
            {{ inline_assets:js src='/js/app.js' }}
        </script>
        <script
            src="//instant.page/5.1.0"
            type="module"
            integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"
        ></script>
    </body>
</html>
