<!doctype html>
<html lang="{{ site:site_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <title>{{ title }} — {{ settings:site_name }}</title>
        <meta name="description" content="{{ excerpt ?? title }}">
        <meta name="theme-color" content="00908F"> -->
        {{ seo_pro:meta }}
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script src="{{ mix src='/js/site.js' }}"></script>
    </head>
    <body class="bg-white font-sans leading-normal text-grey-800" x-data="{ showMobileNav: false }">
        <div class="home-nav">
            {{ partial:nav }}

            <div class="container text-white text-center my-8 xl:my-20 xl:px-40">
                <h1 class="text-3xl md:text-5xl">Welcome to Puerto Vallarta</h1>
                <p class="text-xl md:text-2xl mb-4">AT ITS HEAVENLY BEST</p>
                <div class="bg-white-50 p-6 mx-6 lg:flex lg:space-x-2" style="backdrop-filter: blur(3px)">
                        <input class="border block w-full lg:inline-block bg-white p-2" placeholder="Check in"/>
                        <input class="border block w-full  lg:inline-block bg-white p-2" placeholder="Check out"/>
                        <input class="border block w-full  lg:inline-block bg-white p-2 flex-grow" placeholder="Villa Type"/>
                        <button class="block w-full  lg:inline-block bg-pink-600 hover:bg-pink-700 duration-300 px-6 py-3 mt-2 lg:mt-0">SEARCH</button>
                </div>
            </div>
        </div>
        <div class="">
            {{ template_content }}
        </div>
        {{ partial:footer }}
    </body>
</html>
