<div class="text-lg max-w-1200 pt-2 px-6">
    <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
    {{ partial:breadcrumbs }}
    {{ partial:bard }}
</div>

<div class="px-6 sm:max-w-1200">
    {{ collection:special_offers limit="15" paginate="true" as="offers" }}
        {{ offers }}
            <div class="sm:flex sm:space-x-4 mb-4">
                <a class="sm:min-w-72 max-w-72" href="{{ url }}">
                    <img class="rounded my-3" src="{{ glide:main_photo crop='focal_crop' height='400' width='735' }}"/>
                    <span class="mx-auto relative bg-white shadow-lg rounded-sm py-1 px-2 text-xs text-pink-600 font-bold" style="left: 3px; top: -40px;">{{ discount_amount }}</span>
                </a>
                <div class="-mt-6 sm:mt-0">
                    <h2 class="text-base sm:text-xl font-bold"><a href="{{ url }}">{{ title }}</a></h2>
                    <p>{{ short_description }}</p>
                </div>
            </div>
        {{ /offers }}

        <div class="pb-8 text-center">
            {{ paginate }}
                {{ auto_links }}
            {{ /paginate }}
        </div>
    {{ /collection:special_offers }}
</div>