<div class="text-lg pt-2 px-6 mb-8">
    <h1 class="text-lg sm:text-4xl">Special Offers</h1>
    {{ partial:breadcrumbs }}
    <div class="">
        <img
            class="rounded-full mt-4 mx-auto"
            src="{{ glide:main_photo crop='focal_crop' height='400' width='400' }}"
        />
        <div class="text-center mt-4 mx-auto xl:w-1/2">
            <h2 class="text-lg lg:text-2xl font-bold">{{ title }}</h2>
            <p class="font-bold text-pink-600">{{ discount_amount }}</p>
            {{ partial:bard }}
            <div class="flex justify-center">
                <a
                    href="{{ deal_link }}"
                    target="_blank"
                    class="w-full mb-3 md:mb-0 md:w-64 block text-sm text-white rounded p-4 text-center font-bold bg-teal-400"
                    >Get Deal</a
                >
            </div>
        </div>
    </div>
</div>
