<div class="px-6 pt-2 text-lg max-w-1200">
    <h1 class="text-lg sm:text-4xl">Frequently Asked Questions (FAQ)</h1>
    {{ partial:breadcrumbs }} {{ collection:faq }}
    <div class="mb-8 shadow">
        <div class="flex p-3 bg-gray-100 border-l-4 border-gold">
            <span class="pr-4 text-3xl text-center min-w-16">Q.</span>
            <span class="flex-grow pt-3 font-bold">{{ title }}</span>
        </div>
        <div class="flex p-3 border-l-4">
            <span class="pr-4 text-3xl text-center min-w-16">A.</span>
            <span class="flex-grow text-sm bard">
                {{ answer }} {{ if type == "asset" }}
                <div>
                    <a href="{{file}}" target="_blank" class="hover:underline"
                        >{{label}}</a
                    >
                </div>
                {{ elseif type == "text" }} {{text}} {{ /if }} {{/answer}}
            </span>
        </div>
    </div>
    {{ /collection:faq }}
</div>
