<div class="text-lg max-w-1200 pt-2 px-6">
    <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
    {{ partial:breadcrumbs }}
    {{ partial:bard }}
</div>

<div class="px-6 sm:max-w-1200">
    {{ collection:posts limit="15" paginate="true" as="posts" }}
        {{ posts }}
            <div class="sm:flex sm:space-x-4 mb-4">
                <a class="min-w-72 max-w-72" href="{{ url }}">
                    <img class="rounded-full h-48 w-48 sm:w-auto sm:h-auto mx-auto sm:ml-0 sm:rounded-lg my-3" src="{{ glide:main_photo crop='focal_crop' height='200' width='300' }}"/>
                </a>
                <div>
                    <h2 class="text-xl sm:text-3xl"><a href="{{ url }}">{{ title }}</a></h2>
                    <p>{{ short_description }}</p>
                </div>
            </div>
        {{ /posts }}

        <div class="pb-8 text-center">
            {{ paginate }}
                {{ auto_links }}
            {{ /paginate }}
        </div>
    {{ /collection:posts }}
</div>