<div class="text-lg max-w-1200 pt-2 px-6">
    <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
    {{ partial:breadcrumbs }}
    <div class="">
        <img class="rounded-lg" style="height: 400px;" src="{{ glide:main_photo crop='focal_crop' height='400' width='800' }}"/>
        <p class="mt-2 text-sm">
            <span class="text-gray-600">POSTED IN</span> 
            {{ blog_categories }}
                <a href="{{ url }}" class="font-bold">
                    {{ title }}
                </a>
                {{ if !last }}
                    <span>, </span>
                {{ /if }}
            {{ /blog_categories }}
        </p>
        {{ partial:bard }}
    </div>

    <div class="flex justify-between my-8 items-center">
        {{ collection:next in="posts" as="posts" limit="1" sort="date:asc" }}

            {{ if no_results }}
                <div>No more posts to read!</div>
            {{ /if }}

            {{ posts }}
                <div class="text-left">
                    <a class="block" href="{{ url }}">
                        <p>{{ title }}</p>
                        <span class="text-sm font-bold">Previous Post</span>
                    </a>
                </div>
            {{ /posts }}

        {{ /collection:next }}

        {{ collection:previous in="posts" as="posts" limit="1" sort="date:asc" }}

            {{ if no_results }}
                <div>No more posts to read!</div>
            {{ /if }}

            {{ posts }}
                <div class="text-right">
                    <a class="block" href="{{ url }}">
                        <p>{{ title }}</p>
                        <span class="text-sm font-bold">Next Post</span>
                    </a>
                </div>
            {{ /posts }}

        {{ /collection:previous }}
    </div>
</div>