<div class="px-6 pt-2 text-lg max-w-1200">
    <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
    {{ partial:breadcrumbs }} {{ partial:bard }}
</div>

<div
    class="grid grid-cols-2 gap-4 px-6 pb-6 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 max-w-1200"
>
    {{ collection:staff sort="order" locale="default" }}
    <div>
        <img
            class="rounded shadow"
            src="{{ glide:staff_photo crop='focal_crop' height='200' width='200' }}"
        />
        <p class="my-1 font-bold">{{ title }}</p>
        <p class="text-sm">
            {{ position }} {{ if year_hired }}
            <span class="text-sm italic">- Since {{ year_hired }}</span>
            {{ /if }}
        </p>
    </div>
    {{ /collection:staff }}
</div>
