/* This is all you. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

.bard p {
    @apply mb-4;
}

.bard ul {
    @apply list-disc;
    margin-left: 20px;
}

.bard img {
    @apply rounded-lg shadow-sm;
    max-width: 600px;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}

.main-nav {
    @apply block py-3 uppercase nav-link;
}
.nav-link {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.36em;
    color: white;
    display: "block";
    @apply duration-300;
}

.active-nav {
    @apply .text-gold bg-primary-light;
}

.main-nav:hover {
    @apply .text-gold;
}

.pagination li {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
}

.columns-2 {
    column-count: 2;
}

.columns-2 > p:first-child:first-letter {
    float: left;
    font-family: Georgia;
    font-size: 55px;
    line-height: 50px;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 3px;
}

a {
    @apply text-teal-600;
}

.home-slider {
    height: 30rem !important;
}

.home-slider-text-overlay {
    height: 30rem;
    margin-top: -30rem;
}

.gallery {
    height: 50vh;
    min-height: 500px;
    max-height: 1000px;
}

.gallery-dot-container {
    bottom: 28px;
}

.min-h-screen {
    min-height: 100vh;
}

.bard-table p {
    margin: 0;
    padding: 0;
}

.form input,
.form select,
.form textarea {
    @apply block w-full px-2 py-1 border rounded;
}

option:disabled {
    @apply text-gray-500;
}

.nav-arrow {
    top: 5px;
    position: relative;
}

.nav-group:hover .chevron.bottom::before {
    left: 0;
    transition: all 250ms 0s ease-in-out;
    transform: rotate(45deg) !important;
}

.soft-hide {
    display: none;
}

.nav-open {
    display: block !important;
}

blockquote {
    @apply italic border-l-4 border-gold;
    background: #f9f9f9;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline;
}

/** CHEVRONS **/
.chevron::before {
    transition: all 100ms 0s ease-in-out;
    border-color: unset;
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: "";
    display: inline-block;
    height: 0.65em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.65em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

@media (max-width: 767px) {
    .columns-2 {
        column-count: 1;
    }

    .reg-gallery {
        height: 30vh;
        min-height: 300px;
        max-height: 500px;
    }
}

@media (min-width: 1000px) {
    .nav-children {
        max-width: 0;
        overflow: hidden;
        position: fixed;
        background: black;
        left: 288px;
        margin-top: -47px;
    }

    .nav-group:hover > .nav-children {
        max-width: 300px;
        transition: all 300ms 0s ease-in-out;
    }
}

.text-shadow {
    text-shadow: 1px 1px 10px black;
}
