<div id="{{ slug }}" class="shadow border flex-col flex flex-grow hover:shadow-lg duration-300 rounded">
    <a href="{{url}}">
        <img class="rounded-t" src="{{ glide src='{villa_photos:0:url}' height='350' width='725' }}" />
    </a>
    <h2 class="pl-4 pt-2"><a class="text-gold uppercase  text-2xl hover:text-teal-600" href="{{ url }}">{{ title }}</a></h2>
    <div class="flex space-x-3 text-sm my-1 pl-4">
            <div>{{ number_of_rooms }} ROOM{{ if number_of_rooms > 1  }}S{{ endif }}</div>
            <div>{{ number_of_beds }} BED{{ if number_of_beds > 1  }}S{{ endif }}</div>
            <div>{{ number_of_baths }} BATH{{ if number_of_baths > 1  }}S{{ endif }}</div>
    </div>
    <p class="my-2 text-sm text-gray-600 flex-grow px-4">
        {{ short_description | safe_truncate:300:... }}
    </p>
    <div class="text-center px-4 pb-3">
        <a class="text-gold-dark hover:text-teal-600" href="{{ url }}">FULL INFO</a>
    </div>
</div>