{{ collection:villas as="villas" }} {{ taxonomy:amenities as="amenities"
filterable:is="true" }}
<div
    class=""
    x-data="villaFilter()"
    x-init="init('{{ amenities | to_json | urlencode }}', '{{ villas | to_json | urlencode }}')"
>
    <div class="bg-primary-light rounded-t-lg block md:flex space-x-4">
        <div class="flex-grow pt-2 px-6 pb-6 bg-white rounded-t-lg">
            <div>
                <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
                {{ partial:breadcrumbs }}
            </div>
            <div class="flex flex-col lg:flex-row lg:space-x-12">
                <div class="flex-grow">{{ partial:bard }}</div>

                <!-- RIGHT COLUMN -->
                <div class="lg:min-w-72 lg:-mt-14">
                    <!-- Special Offers-->
                    <div class="">
                        <h2 class="text-xl mb-6">
                            {{ trans:lang.special_offer }}
                        </h2>
                        {{ collection:special_offers limit="2" as="offers"
                        villa_types:contains="{ villa_type }" }} {{ offers }}
                        <div
                            class="mb-4 flex flex-col sm:flex-row lg:flex-col sm:space-x-3 lg:space-x-0 items-center"
                        >
                            <a class="sm:min-w-72" href="{{ url }}">
                                <img
                                    class="rounded mb-2"
                                    src="{{ glide:main_photo crop='focal_crop' height='150' width='330' }}"
                                />
                                <span
                                    class="relative bg-white shadow-lg rounded-sm py-1 px-2 text-xs text-pink-600 font-bold"
                                    style="left: 3px; top: -36px;"
                                    >{{ discount_amount }}</span
                                >
                            </a>
                            <div class="lg:-mt-6">
                                <h3 class="text-sm font-bold">
                                    <a href="{{ url }}">{{ title }}</a>
                                </h3>
                                <p class="text-xs">{{ short_description }}</p>
                            </div>
                        </div>
                        {{ /offers }} {{ /collection:special_offers }}
                    </div>

                    <!-- BOOK NOW BUTTON -->
                    <a
                        target="_blank"
                        href="{{webrezpro_settings:booking_request_form}}"
                        class="mb-3 text-center block shadow hover:shadow-lg bg-primary-light hover:bg-primary duration-300 rounded py-2 px-3 text-white"
                    >
                        Book Now
                    </a>

                    <!-- AVAILABILITY CALENDAR-->
                    {{ if villa_type === "qmc" }}
                    <a
                        target="_blank"
                        href="{{webrezpro_settings:qmc_availability_calendar_url}}"
                        class="text-center block shadow hover:shadow-lg bg-primary-light hover:bg-primary duration-300 rounded py-2 px-3 text-white"
                    >
                        Availability Calendar
                    </a>
                    {{ elseif villa_type === "ctv" }}
                    <a
                        target="_blank"
                        href="{{webrezpro_settings:ctv_availability_calendar_url}}"
                        class="text-center block shadow hover:shadow-lg bg-primary-light hover:bg-primary duration-300 rounded py-2 px-3 text-white"
                    >
                        Availability Calendar
                    </a>
                    {{ else }}
                    <a
                        target="_blank"
                        href="{{webrezpro_settings:availability_calendar_url}}"
                        class="text-center block shadow hover:shadow-lg bg-primary-light hover:bg-primary duration-300 rounded py-2 px-3 text-white"
                    >
                        Availability Calendar
                    </a>
                    {{ endif }}
                </div>
            </div>

            <div class="sm:flex justify-between items-end mt-6">
                <div class="pt-8">
                    {{ if villa_type === "qmc" }}
                    <h2>Suites</h2>
                    {{ elseif villa_type === "ctv" }}
                    <h2>Villas</h2>
                    {{ else }}
                    <h2>Villas/Suites</h2>
                    {{ endif }}
                </div>

                <div class="flex space-x-6 pb-3">
                    <div>
                        <label class=" text-sm mt-3 mb-1 block">Property</label>
                        <select
                            x-model="filter_type"
                            @change="filter"
                            class="bg-gray-100 border rounded  p-2 w-full"
                        >
                            <option value="">Any</option>
                            <option value="qmc">Quinta Maria Cortez</option>
                            <option value="ctv">Casa Tres Vidas</option>
                        </select>
                    </div>

                    <div>
                        <label class=" text-sm mt-3 mb-1 block"
                            >Number of People</label
                        >
                        <select
                            x-model="filter_people"
                            @change="filter"
                            class="bg-gray-100 border rounded  p-2 w-full"
                        >
                            <option value="0">Any</option>
                            <option value="3">3+</option>
                            <option value="4">4+</option>
                            <option value="5" :disabled="filter_type === 'qmc'"
                                >5+</option
                            >
                            <option value="6" :disabled="filter_type === 'qmc'"
                                >6+</option
                            >
                            <option value="7" :disabled="filter_type === 'qmc'"
                                >7+</option
                            >
                            <option value="8" :disabled="filter_type === 'qmc'"
                                >8+</option
                            >
                            <option value="10" :disabled="filter_type === 'qmc'"
                                >10+</option
                            >
                            <option value="16" :disabled="filter_type === 'qmc'"
                                >16+</option
                            >
                            <option value="18" :disabled="filter_type === 'qmc'"
                                >18+</option
                            >
                            <option value="24" :disabled="filter_type === 'qmc'"
                                >24</option
                            >
                        </select>
                    </div>
                </div>
            </div>

            <div
                class=" grid gap-4 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4"
            >
                {{ villas }} {{ partial:villas/villa_card }} {{ /villas }}
            </div>
        </div>
    </div>
</div>
{{ /taxonomy:amenities }} {{ /collection:villas }}
