<div class="lg:flex">
    <!-- LEFT COLUMN -->
    <div class="flex-grow pb-6">
        <div class="text-lg pt-2 px-6">
            <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
            {{ partial:breadcrumbs }} {{ partial:gallery
            :gallery_images="villa_photos"]}}

            <div class="py-12 sm:px-6 sm:min-w-96">
                <h2 class="text-xl">{{ trans:lang.amenities }}</h2>
                <ul
                    class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
                >
                    {{ amenities }}
                    <li class="flex mt-6 space-x-4">
                        <img class="w-12 h-12" src="{{ icon }}" />
                        <div>
                            <p class="text-sm font-bold">{{ title }}</p>
                            <p class="text-xs text-gray-600">
                                {{ content | strip_tags }}
                            </p>
                        </div>
                    </li>
                    {{ /amenities }}
                </ul>
            </div>

            {{ partial:bard }}
        </div>

        {{ if rooms }}
        <div class="px-6">
            <h2 class="text-3xl">Rooms</h2>
            {{ rooms }}
            <div class="pb-8">
                <h3 class="text-base font-bold">{{ title }}</h3>
                <p>{{ room_description }}</p>
                <div class="mt-4 ">
                    {{ partial:gallery :gallery_images="room_photos"]}}
                </div>
            </div>
            <hr class="border-dashed mb-8" />
            {{ /rooms }}
        </div>
        {{ /if }}
    </div>

    <!-- RIGHT COLUMN -->
    <div class="max-w-96 pt-4">
        <!-- Special Offers-->
        <div class="px-6 mt-6">
            <h2 class="text-xl mb-6">{{ trans:lang.special_offer }}</h2>
            {{ collection:special_offers limit="5" as="offers"
            villa_types:contains="{ villa_type }" }} {{ offers }}
            <div class="mb-4">
                <a class="" href="{{ url }}">
                    <img
                        class="rounded mb-2"
                        src="{{ glide:main_photo crop='focal_crop' height='150' width='330' }}"
                    />
                    <span
                        class="relative bg-white shadow-lg rounded-sm py-1 px-2 text-xs text-pink-600 font-bold"
                        style="left: 3px; top: -36px;"
                        >{{ discount_amount }}</span
                    >
                </a>
                <div class="-mt-6">
                    <h3 class="text-sm font-bold">
                        <a href="{{ url }}">{{ title }}</a>
                    </h3>
                    <p class="text-xs">{{ short_description }}</p>
                </div>
            </div>
            {{ /offers }} {{ /collection:special_offers }}
        </div>
    </div>
</div>
