{{ collection:recommendations as="recommendations" }}
{{ nav:collection:recommendation_types as="types" }}
<div class="" x-data="recommendationFilter()" x-init="init('{{ recommendations | to_json | urlencode }}')" >

    

    <div class="bg-primary-light rounded-t-lg block md:flex space-x-4">
        <div class="pl-4 pt-4 pb-4 md:min-w-72 ">
            <label class="text-white text-sm mt-3 mb-1 block">Recommendation Type</label>
            
            <div>
                {{types}}
                    <div>
                        <input 
                            type="checkbox" 
                            name="{{slug}}" 
                            value="{{slug}}" 
                            x-on:change="filter('{{slug}}')" 
                            class="mr-1">
                        <label for="{{slug}}"  class="text-gray-400 text-sm">
                            {{ title }}
                        </label>
                            {{children}}
                            <div class="pl-4">
                                <input 
                                    type="checkbox" 
                                    name="{{slug}}" 
                                    value="{{slug}}" 
                                    x-on:change="filter('{{slug}}')" 
                                    class="mr-1">
                                <label for="{{slug}}" class="text-gray-400 text-sm">
                                    {{ title }}
                                </label>
                            </div>
                            {{/children}}
                    </div>
                {{/types}}
                <!-- <template x-for="item in types" :key="item.slug">
                    <div>
                        <input 
                            type="checkbox" 
                            :id="item.slug" 
                            :name="item.slug" 
                            :value="item.slug" 
                            x-model="item.filterBy"
                            x-on:change="filter" 
                            class="mr-1">
                        <label 
                            :for="item.slug" 
                            class="text-gray-400 text-sm"                     
                            x-text="item.title">
                        </label>
                    </div>
                </template> -->
            </div>
        </div>  
        
        
        <div class="flex-grow pt-2 px-6 bg-white rounded-t-lg">
            <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
            {{ partial:breadcrumbs }}

            <div class=" grid gap-4 grid-cols-1 xl:grid-cols-2 xxl:grid-cols-3">
                {{ recommendations }}
                    {{ partial:recommendations/recommendation_card }}
                {{ /recommendations }}
            </div>
        </div>

    </div>
</div>
{{ /nav:collection:recommendation_types }}
{{ /collection:recommendations }}