<div class="lg:flex max-w-1400 pb-8">

    <!-- LEFT COLUMN -->
    <div class="flex-grow">
        <div class="text-lg pt-2 px-6">
            <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
            {{ partial:breadcrumbs }}
            {{ partial:gallery :gallery_images="photos"]}}
            {{ partial:bard }}
        </div>

        <div class="px-6">
            {{ rooms }}
                <div class="py-6">
                    <h2 class="text-2xl">{{ room_name_number }}</h2>
                    <p>{{ room_description }}</p>
                    <div class="mt-4 ">
                        {{ partial:gallery :gallery_images="room_photos"]}}
                    </div>
                </div>
            {{ /rooms }}
        </div>
    </div>


    <!-- RIGHT COLUMN -->
    <div>
        <div class="pt-12 px-6 w-72">
            <h1 class="text-xl">{{ trans:lang.amenities }}</h1>
            <ul>
                {{ amenities }}
                    <li class="flex mt-6 space-x-4">
                        <img class="w-12 h-12" src="{{ icon }}"/>
                        <div>
                            <p class="text-sm font-bold">{{ title }}</p>
                            <p class="text-xs text-gray-600">{{ content | strip_tags  }}</p>
                        </div>
                    </li>
                {{ /amenities }}
            </ul>
        </div>
    </div>


</div>

