<div class="text-lg max-w-1200 pt-2 px-6 pb-8 form">
    <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
    {{ partial:breadcrumbs }} {{ partial:bard }} {{ form:contact_us }} {{ if
    success }}
    <div class="bg-green-300 text-white p-2">
        {{ success }}
    </div>
    {{ else }} {{ fields }}
    <div class="p-2">
        <label class="pl-1"
            >{{ display }}{{ if (validate | in_array:required) }}<span
                class="text-red-600 pl-1"
                >*</span
            >{{ /if }}</label
        >
        <div class="p-1">{{ field }}</div>
        {{ if error }}
        <p class="pl-1 text-red-600 text-sm">{{ error }}</p>
        {{ /if }}
    </div>
    {{ /fields }}

    <input type="text" name="honeypot" class="hidden" />

    <div class="p-2">
        {{ captcha }} {{ if error:captcha }}
        <p class="pl-1 text-red-600 text-sm">{{ error:captcha }}</p>
        {{ /if }}
    </div>

    <button
        class="m-3 bg-primary-light text-white rounded py-2 px-3"
        type="submit"
    >
        Submit
    </button>
    {{ /if }} {{ /form:contact_us }}
</div>
