<div class="w-full rounded-t-lg">
    <iframe class="rounded-t-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.9285908158067!2d-105.24599854943582!3d20.590973607887236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84215ac9cc587921%3A0xadb2372979d4ff3f!2sVillas%20in%20Vallarta!5e0!3m2!1sen!2sus!4v1607189086523!5m2!1sen!2sus" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<div class="lg:flex max-w-1400 pb-8">

    <!-- LEFT COLUMN -->
    <div class="text-lg flex-grow pt-2 px-6">
        <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
        {{ partial:breadcrumbs }}
        {{ partial:bard }}
    </div>


    <!-- RIGHT COLUMN -->
    <div class="block sm:flex flex-row-reverse justify-end lg:block pt-12 px-6 min-w-72">
        <div>
            <img src="/assets/directions/map.png"/>
        </div>
        <div class="space-y-1">  
            <p class="text-sm font-bold mb-2 uppercase ">{{ trans:lang.location }}</p>
            <p class="text-sm">{{ company:address | nl2br }}</p>
            <p class="text-sm">Tel. <a href="tel:{{ company:phone_1 }}">{{ company:phone_1 }}</a></p>
            <p class="text-sm">Tel. <a href="tel:{{ company:phone_2 }}">{{ company:phone_2 }}</a></p>
        </div>
    </div>

</div>