<div class="block md:flex space-x-4">
    <div class="p-4 md:min-w-72 border-r z-10 bg-white">
        <ul class="">
            {{ nav:wedding_nav }}
            <li class="">
                <a
                    class="{{ if is_current }}bg-primary-light text-white{{else}} text-teal-600{{ /if }} rounded pl-2 py-2 text-base block  "
                    href="{{ url }}"
                    >{{ title }}</a
                >
            </li>
            {{ /nav:wedding_nav }}
        </ul>
    </div>

    <div class="text-lg max-w-1200 pt-2 px-6">
        <h1 class="text-lg sm:text-4xl">{{ title }}</h1>
        {{ partial:breadcrumbs }} {{ partial:bard }}
    </div>
</div>
